/* reset CSS */
*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #6d69a0 !important;
}

h1, h2{
  color: white;
  text-align: center;
}


/* <<<<<<<<<<<<<<<<<<<<<< tableau >>>>>>>>>>>>>>>>>>>>>>>> */
.table_move{
  position: absolute;
  top: -10px;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #252341;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}
.table_explorer{
  max-width: 750px;
  border-radius: 3px;
  overflow: scroll;
  max-height: 400px;
  background-color: #171717;
  width: 100%;
  margin: auto;
  color: #e2e2e2;
}
tr{
  border-bottom: 1px solid black;
  width: 100%;
}
th{
  text-align: left;
  padding: 0 15px;
  color: white;
}
td{
  padding: 0 15px;
}

.container_table{
  max-height: 70vh;
  overflow: auto;
  flex-direction: column;
  position: relative;
  width: 90%;
}
.content_container_table{
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  padding: 30px;
  background-color: #312f4a;
}

/* <<<<<<<<<<<<<<<< popup >>>>>>>>>>>>>>>>*/
.popup{
  display: none;
  height: 100px;
  width: 280px;
  border-top: 3px solid #0094a7;
  border-left: 3px solid #0094a7;
  border-bottom: 3px solid #0094a7;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 0px 0px 10000px #00000085;
  position: absolute;
  background-color: #5ed1df;
  bottom: 7%;
  right: 0;
}
